// Page: Header
// -----------------------------------------------------------------------------
.page__header {

}

.right-position {
  margin: 0 0 0 auto;
}

.bg-light {
  background-color: $second-color !important;
}

.nav-link {
  color: $light-site-color !important;
  &:hover {
    color: $main-color !important;
  }
}

.is-active {
  color: $main-color !important;
}

.pt-5 {
  padding-top: 0 !important;
}

.section-hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $light-site-color;
  min-height: 50vw;
}

.hero-wrapper {
  padding-left: 50px;
}

.hero-title {
  padding: 100px 0 40px 0;
  font-size: 60px;
  font-weight: 700;
}

.black-title {
  color: black;
}

.header-big-size {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0;
}

.header-mid-size {
  font-size: 30px;
  font-weight: 400;
}
.header-small-size {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 40px 0 100px;
}

